.login-form {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.submit-btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
    font-size: 22px;
    background-color: #f5d5e049;
    color: #ffffff;
    border: solid 0.11rem #ffffff79;
    align-self: center;
    width: 8rem;
}

.submit-btn:hover {
    background-color: white;
    color: #210535;
    transition: color 0.4s ease;
    transition: background-color 0.4s ease;
}

.user-input {
    margin-top: 1rem;
}

.user-input,
.password-input {
    padding: 0.7rem;
    border-radius: 1rem;
    width: 21rem;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    border: #ffffff solid;
    margin-bottom: 3rem;
}